/* Base Style */
body {
  font-family: 'Noto Sans KR';
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
	color: #333;
	word-break: keep-all;
	background-color: #f5f5f5;
}


/* Typography - 기본 설정을 없을수도.. */




/* Layout */
.app_wrapper {
	padding-top: 46px; 
	/* 모웹에서 fixed 된 header 높이값 고려한 padding */
	padding-bottom: 54px; 
}
.app_wrapper.reply {
	padding-bottom: 136px;
}

.app_bottom {
	position: fixed;
	bottom: 0;
	z-index: 100;
	width: 100%;
}


.layout_center,
.inner_container {
	width: 100%;
	box-sizing: border-box;
}
.layout_center {
	padding: 0 15px;
}
.layout_center > .inner_container {
	padding: 0 13px;
}




/*** COMPONENTS ***/

/* _Input:text */
.input_box {
	display: block;
	border: 1px solid #e4e4e4;
}
/* .input_box:nth-of-type(n+2) { */
.input_box:nth-child(n+2) {
	margin-top: 6px;
	/* 현재 sign02 페이지를 기준으로 작업 됬으나 나중에 바뀌어야 할 것 같다. */
}
.input_box input[type="text"],
.input_box input[type="password"],
.input_box input[type="tel"] {
	display: block;
	width: 100%;
	height: 48px;
	text-indent: 1em;
	font-size: 15px;
	/* background-color: #fff; */
}
input[type="text"]::placeholder {
	color: #878787;
}
.input_box.has_btn {
	position: relative;
}
.input_box.has_btn input[type="text"],
.input_box.has_btn input[type="tel"]  {
	padding-right: 78px;
}
.input_box.has_btn button {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 77px;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	border-left: 1px solid #e4e4e4;
	background-color: #666666;
}
.input_box.has_4_input {
	border: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
.input_box.has_4_input input {
	display: inline-block;
	width: 22%;
	border: 1px solid #e4e4e4;
}


/* _Input:checkbox */
.checkbox {
	position: relative;
}
.checkbox.type_agree {
	display: inline-block;
	padding-left: 19px;
	font-size: 12px;
	letter-spacing: 0.01em;
	color: #525252;
}
.checkbox.type_agree:nth-of-type(n+2) {
	margin-top: 0.4em;
}
.checkbox input[type="checkbox"] + i:empty {
	position: absolute;
	top: 1px;
	left: 0;
}
.checkbox.type_agree input[type="checkbox"]+ i:empty {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	border: 1px solid #b7b7b7;
	border-radius: 2px;
	background-color: #fff;
	box-sizing: border-box;
	text-align: center;
}
.checkbox.type_agree input[type="checkbox"]:checked + i:empty::before {
	font-family: 'xeicon' !important;
	content: '\e928';
	font-size: 12px;
	font-weight: 700;
	position: absolute;
	top: -1px;
	left: 0;
}
.checkbox.type_agree + a {
	color: #525252;
	font-size: 12px;
	font-weight: 500;
}


/* _Select Box */
.selectbox {
	position: relative;
	display: block;
	border: 1px solid #e4e4e4;
	text-indent: 1em;
}
.selectbox::after {
	position: absolute;
	top: 12px;
	right: 10px;
	font-family: 'xeicon' !important;
	content: '\e941';
	font-size: 20px;
	z-index: 1;
}
.selectbox select {
	width: 100%;
	height: 50px;
	border: none;
}
.selectbox select:invalid {
	color: #878787;
}



/* _Form */
.form_heading {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 700;
}
.bottom_check {
	margin-top: 10px;
}



/* _Button */
[class*="btn_"]:not(.btn_container) {
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
}
/* _Button_size */
.btn_l {
	line-height: 58px;
	font-size: 16px;
	font-weight: 500;
	padding: 0 1em;
}
[class*="btn_"].full {
	width: 100% !important;
}
/* _Button_color */
[class*="btn_"].bg_black {
	background-color: #333333;
	color: #fff;
}
[class*="btn_"].bg_red {
	background-color: #fa2829;
	color: #fff;
}
[class*="btn_"].bg_gray {
	background-color: #666666;
	color: #fff;
}


/* _Text List */
.txt_list li {
	position: relative;
	padding-left: 1.2em;
}
.txt_list li:nth-child(n+2) {
	margin-top: 1em;
}
.txt_list li::before {
	content: '●';
	position: absolute;
	top: 0.5em;
	left: 0;
	font-size: 0.5em;
}
.txt_list.is_check {
	font-size: 18px;
}
.txt_list.is_check li {
	padding-left: 2em;
}
.txt_list.is_check li::before {
	font-family: 'xeicon' !important;
	content: '\e928';
	display: inline-block;
	width: 20px;
	line-height: 20px;
	border: 1px solid currentColor;
	font-size: 0.7em;
	text-align: center;
	border-radius: 50%;
}


/* Tabs - base 
Used: mypg0201
*/
.tabContainer,
.tab_container {
	width: 100%;
}
.tabList {
	background-color: #fff;
}
.tabList::after,
.tab_list::after{
	content: '';
	display: block;
	clear: both;
}
.tabButton, 
.tab_button {
	float: left;
	display: block;
	width: 25%;
	text-align: center;
	/* border: 1px solid; */
	box-sizing: border-box;
}
/* .tabButton:nth-of-type(n+2), 
.tab_button:nth-of-type(n+2) {
	border-left: 0;
} */
/* .tabButton.active, 
.tab_button.active {
	background-color: #ccc;
} */
.tabPanel,
.tab_panel{
	display: none;
	border-bottom: 1px solid #d9d9d9;
	background-color: #fff;
}
.tabPanel.active,
.tab_panel.active {
	display: block;
}



/* Banner */
.banner_type1 a {
	display: block;
}
.banner_type1 a img {
	width: 100%;
}
.banner_type1 .slick-dots {
	bottom: -30px;
}
.banner_type1 .slick-dots li {
	margin: 0 2px;
	width: auto;
	height: auto;
	vertical-align: top;
}
.banner_type1 .slick-dots li button {
	padding: 0;
	width: 8px;
	height: 8px;
	border: 1px solid #000;
	border-radius: 50%;
	box-sizing: border-box;
	transition: background-color 0.2s ease;
}
.banner_type1 .slick-dots li button::before {
	display: none;
}
.banner_type1 .slick-dots li.slick-active button {
	border-color: #f62d0f;
	background-color: #f62d0f;
}



/* List Style */
.list_type01 > li {
	position: relative;
	padding-left: 0.5em;
	line-height: 1.3;
}
.list_type01 > li:nth-child(n+2) {
	margin-top: 0.2em;
}
.list_type01 > li::before {
	content: '-';
	position: absolute;
	top: 0.05em;
	left: 0;
}



















































