@charset "UTF-8";

/*** Reset style ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, button, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
th, td {
	vertical-align: middle;
}
button {
	border: none;
	font-family: inherit;
	cursor: pointer;
	background-color: transparent;
}
a {
	text-decoration: none;
	color: inherit;
}
input {
	margin: 0;
	border: none;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-border-radius: 0;
}
input[type="text"]::-ms-clear,
input[type="text"]::-ms-reveal,
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
	display: none;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}
select {
	-webkit-appearance: none;
  -moz-appearance: none;
	appearance: none;
}
select::-ms-expand {
	display: none;
}
button, input, select, textarea, img {
	vertical-align: top;
}
iframe {
	border: none;
}
textarea {
	resize: none;
}

/* Common Class */
.a11y_hidden,
.checkbox input[type="checkbox"],
.btn_toggle input[type="checkbox"] {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	padding: 0 !important;
	border: 0 !important;
	overflow: hidden !important;
	clip: rect(0,0,0,0) !important;
}
caption.a11y_hidden {
	position: static !important;
}
.clearfix::after {
	content: '';
	display: block;
	clear: both;
}


/* Alignment Container */
.align_left {
	float: left;
}
.align_right {
	float: right;
}
.align_center {
	text-align: center;
}


/* slick slider reset */
.slick-prev {
  left: 0;
  z-index: 1;
}
.slick-next {
  right: 0;
}