/* App Header */
.app_header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 46px;
	background-color: #f62d0f;
}
.app_header .home_logo {
	display: inline-block;
	height: 21px;
	margin-top: 13px;
	margin-left: 10px;
}
.home_logo img {
	height: 100%;
}
.app_header .back {
	position: relative;
	font-size: 16px;
	color: #fff;
	padding: 0 15px 0 45px;
	box-sizing: border-box;
}
.app_header .back a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 46px;
	height: 46px;
	padding-left: 15px;
	box-sizing: border-box;
}
.app_header .back a::before {
	content: '\e906';
	font-family: 'xeicon' !important;
	font-size: 20px;
	font-weight: bold;
	line-height: 46px;
}
.app_header .back h2 {
	width: 100%;
	display: inline-block;
	line-height: 46px;
	vertical-align: top;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}



/* Bottom GNB */
.gnb  {
	width: 100%;
	background-color: #fff;
	box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1);
}
.gnb a  {
	float: left;
	display: block;
	width: 20%;
	height: 54px;
	padding-top: 4px;
	font-size: 11px;
	font-weight: 700;
	color: #acacac;
	text-align: center;
	box-sizing: border-box;
}
.gnb a::before {
	content: '';
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
.gnb a.menu_1::before {
	background-image: url('../img/spr_gnb_menu1.png');
}
.gnb a.menu_2::before {
	background-image: url('../img/spr_gnb_menu2.png');
}
.gnb a.menu_3::before {
	background-image: url('../img/spr_gnb_menu3.png');
}
.gnb a.menu_4::before {
	background-image: url('../img/spr_gnb_menu4.png');
}
.gnb a.menu_5::before {
	background-image: url('../img/spr_gnb_menu5.png');
}

.gnb a.active {
	color: #f62d0f;
}
.gnb a.active::before {
	background-position: center bottom;
}




/* 회원가입(sign02) */
.sign02 h1 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 1.2;
}
.sign02 h1 + p {
	margin-bottom: 26px;
	line-height: 1.2;
	font-size: 20px;
	color: #666;
}
.red_bar {
	display: block;
	width: 20px;
	border-top: 4px solid #f62d0f;

	margin-top: 40px;
	margin-bottom: 16px;
}



/* 로그인(sign03) */
.login_top {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 170px;
	margin-bottom: 30px;
}
.login_top img {
	width: 95%;
}
.sign03 .input_box:nth-child(3) {
	margin-top: 10px;
}
.sign03 button.full {
	margin-top: 10px;
}
.sign03 .bottom_check {
	position: relative;
}
.sign03 .btn_help {
	position: absolute;
	top: 0;
	right: 0;
}
.btn_help {
	font-size: 12px;
	color: #898989;
}
.btn_help::before {
	font-family: 'xeicon' !important;
	content: '\e9ac';
	margin-right: 2px;
	font-size: 15px;
	vertical-align: -2px;
}


/* 결제등록(sign04_old) */
.sign04_old .emphasis {
	margin-top: 40px;
	margin-bottom: 15px;
	line-height: 1.2;
	font-size: 24px;
	font-weight: 400;
	color: #f62d0f;
	letter-spacing: -0.02em;
}
.sign04_old .emphasis + p {
	margin-bottom: 26px;
	line-height: 1.2;
	font-size: 20px;
	color: #666;
}
.sign04_old .input_box {
	margin-top: 10px;
}
.sign04_old .input_box input {
	height: 38px;
	font-size: 14px;
}
.sign04_old .product_info {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 300;
}
.sign04_old .selectbox {
	height: 38px;
}
.sign04_old .selectbox::after {
	font-size: 14px;
}
.sign04_old .btn_container {
	margin-top: 20px;
}



/* 가입완료(sign04) */
.sign04 .layout_center {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	padding-top: 60px;
	padding-bottom: 60px;
}
.sign04 .xi-check {
	margin-bottom: 30px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 25px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	background-color: #f62d0f;
}
.sign04 h1 {
	font-size: 36px;
	margin-bottom: 70px;
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 1.2;
}


/* 마이페이지(mypg) */
.heading_container {
	line-height: 40px;
	border-bottom: 1px solid #d9d9d9;
	background-color: #fff;
}
.heading_container h1 {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: -0.05em;
}
.mypg .user_profile {
	padding-top: 15px;
	padding-bottom: 13px;
	border-bottom: 1px solid #f5f5f5;
}
.user_profile .user_setting,
.user_profile .user_info,
.user_profile .user_img {
	float: left;
}
.user_profile .user_img {
	display: block;
	width: 50px;
	height: 50px;
	margin-right: 16px;
	background: url('../img/user_default.png') center center no-repeat;
	background-size: cover;
	border-radius: 5px;
}
.user_profile .user_info > span:first-of-type {
	font-size: 20px;
}
.user_profile .user_info > p {
	color: #f62d0f;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.user_profile .user_info > p > span:nth-of-type(n+2)::before {
	content: '';
	display: inline-block;
	margin-left: 0.1em;
	margin-right: 0.4em;
	height: 10px;
	border-left: 1px solid currentColor;
}
.user_profile .user_setting {
	width: 100%;
	margin-top: 2px;
}
.user_profile .user_setting a {
	font-size: 12px;
	color: #999;
	letter-spacing: -0.05em;
}
.user_profile .user_setting a::after {
	content: '';
	display: inline-block;
	margin-left: 6px;
	border-left: 7px solid #999;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	vertical-align: -1px;
}


.myPageTabs {
	margin-bottom: 10px;
}
.myPageTabs .tab_button,
.myPageTabs .tabButton {
	position: relative;
	padding: 15px 0;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #d9d9d9;
	font-size: 11px;
	font-weight: 700;
}
.myPageTabs .tab_button::before,
.myPageTabs .tabButton::before {
	content: '';
	display: block;
	height: 33px;
	width: 33px;
	margin: 0 auto 1px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center top;
}
.myPageTabs .tab_button:nth-of-type(1)::before,
.myPageTabs .tabButton:nth-of-type(1)::before {
	background-image: url('../img/spr_myp_tab1.png');
}	
.myPageTabs .tab_button:nth-of-type(2)::before,
.myPageTabs .tabButton:nth-of-type(2)::before {
	background-image: url('../img/spr_myp_tab2.png');
}	
.myPageTabs .tab_button:nth-of-type(3)::before,
.myPageTabs .tabButton:nth-of-type(3)::before {
	background-image: url('../img/spr_myp_tab3.png');
}	
.myPageTabs .tab_button:nth-of-type(4)::before,
.myPageTabs .tabButton:nth-of-type(4)::before {
	background-image: url('../img/spr_myp_tab4.png');
}	
.myPageTabs .tab_button.active::before,
.myPageTabs .tabButton.active::before {
	background-position: center bottom;
}
.myPageTabs .tab_button.active,
.myPageTabs .tabButton.active {
	color: #f62d0f;
}

.myPageTabs .tab_button::after,
.myPageTabs .tabButton::after {
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	height: 50px;
	border-left: 1px solid #f5f5f5;
}

.myPageTabs .tab_panel,
.myPageTabs .tabPanel {
	margin-top: 11px;
}


.mypg_list .mypg_item {
	position: relative;
	display: block;
	padding: 19px 15px;
}
.mypg_list .mypg_item:nth-child(n+2) {
	border-top: 1px solid #f5f5f5;
}
.mypg_list a.mypg_item::after {
	font-family: 'xeicon' !important;
	content: '\e93f';
	font-size: 20px;
	font-weight: 700;
	position: absolute;
	top: 17px;
	right: 15px;
}

.mypg_list h3 {
	display: inline-block;
	font-size: 16px;
}
.mypg_list h3::before {
	content: '';
	display: inline-block;
	width: 3px;
	height: 3px;
	margin-right: 8px;
	background-color: #000;
	border-radius: 50%;
	vertical-align: 0.25em;
}
.mypg_list h3 + small {
	font-size: 11px;
	color: #bcbcbc;
	letter-spacing: -0.05em  ;
}
.mypg_list h3 > em {
	color: #f62d0f;
}

.mypg_item .btn_toggle {
	position: absolute;
	top: 20px;
	right: 15px;
}

.btn_toggle {
	/* display: block; */
	display: inline-block;
}
.btn_toggle span:empty  {
	position: relative;
	display: block;
	width: 43px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.4s ease;
	background-color: #a5a5a5;
}
.btn_toggle span:empty::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;	
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #fff;
	transition: all 0.2s ease;
}
.btn_toggle input[type="checkbox"]:checked + span:empty {
	background-color: #f32a0e;
	box-shadow: -5px -4px 4px 4px rgba(0, 0, 0, 0.2) inset;
}
.btn_toggle input[type="checkbox"]:checked + span:empty::before {
	left: 25px;
}

.dwld_application h3 {
	background-color: #333 !important;
	font-size: 12px;
	line-height: 2.5;
	font-weight: 700;
	color: #fff;
}
.dwld_application h3::before {
	content: '';
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	background: url('../img/icon_gold.png') center center no-repeat;
	background-size: 100%;
	vertical-align: -3px;
}
.dwld_application .dwld_list {
	padding: 20px 7px;
	box-sizing: border-box;
}
.dwld_list {
	background-color: #fff;
}
.dwld_list li {
	float: left;
	width: 25%;
	text-align: center;
}
.dwld_list li:nth-child(n+5) {
	margin-top: 10px;
}
.dwld_list button {
	display: inline-block;
	width: 70px;
}
.dwld_list button img {
	width: 100%;
	margin-bottom: 8px;
	border-radius: 5px;
}
.dwld_list button > span,
.dwld_list button > em {
	display: block;
	width: 100%;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dwld_list button > span {
	color: #969696;
}

/* 결제정보 변경 등록(mypg_T02_01) */
.mypg_edit_card {
	background-color: #fff;
}
.mypg_edit_card .red_bar {
	margin-top: 34px;
}
.mypg_edit_card select,
.mypg_edit_card input[type="text"], 
.mypg_edit_card input[type="password"], 
.mypg_edit_card input[type="tel"] {
	height: 38px;
}
.mypg_edit_card .selectbox::after {
	font-size: 14px;
}
.mypg_edit_card .product_info {
	margin: 20px 0;
	font-size: 18px;
	font-weight: 300;
}
.mypg_edit_card .btn_container {
	margin-top: 20px;
}


/* MAIN */

/* main01 */
.search_container {
	height: 40px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}
.search_box {
	position: relative;
	display: block;
	width: 90%;
	margin: 5px auto;
	border: 2px solid #f62d0f;
	padding-left: 30px;
	padding-right: 60px;
	box-sizing: border-box;
}
.search_box::before {
	content: '\e97a';
	font-family: 'xeicon' !important;
	position: absolute;
	top: 1px;
	left: 5px;
	display: inline-block;
	font-size: 20px;
	color: #f62d0f;
}
.search_box input {
	width: 100%;
	height: 30px;
	text-indent: 1em;
}
.search_box button {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 60px;
	font-size: 14px;
	letter-spacing: 0.1em;
	color: #fff;
	background-color: #f62d0f;
}
.lnb_main {
	background-color: #fff;
	box-sizing: border-box;
	border-bottom: 1px solid #d9d9d9;
}
.lnb_main > a {
	float: left;
	display: block;
	width: 25%;
	font-size: 16px;
	font-weight: 500;
	line-height: 36px;
	text-align: center;
}
.lnb_main > a.active {
	color: #f62d0f;
}
.main_topic {
	margin-top: -1px;
	margin-bottom: 20px;
}
.main_tab .tab_list,
.main_tab .tabList {
	border-bottom: 1px solid #d9d9d9;
}
.main_tab .tab_button,
.main_tab .tabButton {
	width: 50%;
	background-color: #f5f5f5;
	line-height: 36px;
}
.main_tab .tab_button.active,
.main_tab .tabButton.active {
	color: #fff;
	background-color: #f62d0f;
}
.today_list {
	counter-reset: todaylist;
}
.today_list a {
	position: relative;
	display: block;
	padding: 0 13px;
	line-height: 39px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.05em;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.today_list a:nth-child(even) {
	background-color: #f5f5f5;
}
.today_list a::before {
	counter-increment: todaylist;
	content: counter(todaylist) '.';
	margin-right: 4px;
}
.today_list a.new {
	padding-right: 40px;
}
.today_list a.new::after {
	content: 'NEW';
	position: absolute;
	top: 0;
	right: 13px;
	font-size: 12px;
	font-weight: 700;
	color: #f62d0f;
}


.investment_information h2 {
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: 500;	
}
.investment_information .list_article a {
	float: left;
	display: block;
	width: 48%;
	border: 1px solid #d9d9d9;
}
.investment_information .list_article a:nth-child(even) {
	float: right;
}
.investment_information .list_article a:nth-child(n+3) {
	margin-top: 10px;
}
.investment_information .thumbnail {
	position: relative;
	/* width: 100%; */
	padding-top: 75.32%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.investment_information .list_article p {
	position: relative;
	height: 2.6em;
	line-height: 1.3;
	padding: 8px 10px;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	background-color: #fff;
}
.investment_information .list_article p::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 8px;
	background-color: #fff;
}
.section_community {
	background-color: #fff;
}
.section_community h2 {
	line-height: 40px;	
	font-size: 16px;
	font-weight: 500;
	text-indent: 15px;
	border-bottom: 1px solid #d9d9d9;
}
.section_community .list_post li {
	padding: 14px 14px 10px;
	border-bottom: 1px solid #d9d9d9;
}
.section_community .list_post li a {
	display: inline-block;
	min-width: 30%;
	max-width: 100%;
	overflow: hidden;	
	white-space: nowrap;
	text-overflow: ellipsis;
}
.section_community .list_post li p {
	margin-top: 2px;
	font-size: 12px;
	color: #969696;
}
.section_community .list_post li p span:nth-child(n+2)::before {
	content: '';
	display: inline-block;
	height: 10px;
	margin: 0 10px 0 8px;
	vertical-align: -1px;
	border-left: 1px solid #969696;
}
.advertisement_bottom {
	display: block;
	border-bottom: 1px solid #d9d9d9;
}


/* main02 */
.essential_list {
	padding: 14px 15px 20px;
	background-color: #fff;
	counter-reset: essential_list;
}
.essential_list a {
	position: relative;
	display: block;
}
.essential_list a:nth-child(n+2) {
	margin-top: 10px;
}
.essential_list a::before {
	counter-increment: essential_list;
	content: counter(essential_list);
	position: absolute;
	width: 24px;
	line-height: 24px;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	background-color: #969696;
	text-align: center;
}
.essential_list a:nth-child(-n+3)::before {
	background-color: #f62d0f;
}
.essential_list .thumbnail {
	float: left;
	width: 40%;
	padding-top: 30.3%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.essential_list .info {
	float: left;
	width: 60%;
	padding-left: 10px;
	padding-top: 5%;
	padding-top: 1em;
	box-sizing: border-box;
}
.essential_list .info h5 {
	line-height: 1.3;
	height: 2.6em;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.essential_list .info p {
	font-size: 12px;
	color: #969696;
}
.essential_list .info p span:first-child {
	display: block;
}
.essential_list .info p span:last-child::before {
	content: '';
	display: inline-block;
	height: 10px;
	margin: 0 10px 0 8px;
	vertical-align: -1px;
	border-left: 1px solid #969696;
}



/* 게시글 상세 - main02_T01D */
.post_header {
	padding: 20px 15px 5px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #d9d9d9;
}
.post_header h1 {
	font-size: 18px;
	font-weight: 700;
	letter-spacing: -0.05em;
}
.post_header .sub_info {
	margin-top: 5px;
}
.post_header .sub_info p {
	float: left;
	margin-top: 18px;
	font-size: 12px;
}
.post_header .sub_info p span {
	color: #f62d0f;
}
.post_header .sub_info p span::before {
	content: '';
	display: inline-block;
	height: 10px;
	margin: 0 6px 0 3px;
	border-left: 1px solid #969696;
	vertical-align: -1px;
}
.post_header .sns_share {
	float: right;
}
.post_header .sns_share a,
.post_header .sns_share button {
	width: 34px;
	height: 34px;
	border-radius: 2px;
}
.post_header .sns_share > *:nth-child(n+2) {
	margin-left: 5px
}
.post_header .sns_share .btn_fcb {
	background: url('../img/icon_fcb.png') center center no-repeat;
	background-size: contain;
}
.post_header .sns_share .btn_kko {
	background: url('../img/icon_kko.png') center center no-repeat;
	background-size: contain;
}
.post_header .sns_share .btn_msg {
	background: #00c7b2 url('../img/icon_msg.png') center center no-repeat;
	background-size: 20px;
}
.post_contents {
	background-color: #fff;
}
.post_contents .writing_container,
.post_contents .reaction {
	max-width: 700px;
	margin: 0 auto;
}
.post_contents .writing_container {
	padding: 30px 15px 50px;
}
.post_contents .writing_container img {
	max-width: 100%;
}
.post_contents .reaction {
	position: relative;
	z-index: 1; /* 0으로 하면 하위의 엘리먼트에 가려진다. */
	padding: 20px 0;
	border-top: 1px solid #d9d9d9;
	text-align: center;
}
.post_contents .reaction [class*="btn_"]:not(.btn_container) > button,
.post_contents .reaction [class*="btn_"]:not(.btn_container) > a {
	display: inline-block;
	width: 48px;
	height: 48px;
	border: 1px solid #969696;
	border-radius: 50%;
	margin: 0 5px;
	box-sizing: border-box;
	vertical-align: top;
	background-image: url('../img/spr_reaction.png');
	background-size: 96px;
	background-repeat: no-repeat;
}
.post_contents .reaction [class*="btn_"] > span {
	display: block;
}
.post_contents .reaction .btn_like > button {
	background-position: -48px -2px;
	transition: background-color 0.2s ease;
}
.post_contents .reaction .btn_like.active > button {
	background-position: -48px -2px;
	background-position: 0 -2px;
	background-color: #f62d0f;
	border-color: #f62d0f;
}
.post_contents .reaction .btn_like.active > span {
	color: #f62d0f;
}
.post_contents .reaction .btn_reply > a {
	background-position: -1px -48px;
}
.post_contents .reaction .btn_share > button {
	background-position: -49px -49px;
}
.post_contents .reaction .btn_share {
	position: relative;
}
.reaction .btn_share .btn_container {
	position: absolute;
	top: 20px;
	right: -60px;
	display: none;
	padding: 10px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.reaction .btn_share .btn_container.active {
	top: 0;
	opacity: 1;
	z-index: 10;
}
.reaction .btn_share .btn_container a,
.reaction .btn_share .btn_container button {
	display: block;
	width: 34px;
	height: 34px;
}
.reaction .btn_share .btn_container > *:nth-child(n+2) {
	margin-top: 8px;
} 
.reaction .btn_share .btn_fcb {
	background: url('../img/icon_fcb.png') center center no-repeat;
	background-size: contain;
}
.reaction .btn_share .btn_kko {
	background: url('../img/icon_kko.png') center center no-repeat;
	background-size: contain;
}
.reaction .btn_share .btn_msg {
	background: #00c7b2 url('../img/icon_msg.png') center center no-repeat;
	background-size: 20px;
}
.refer_contents {
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9
}
.refer_contents h3 {
	padding: 0 15px;
	margin-bottom: 0.3em;
	line-height: 1.5;
	font-size: 18px;
	color: #f62d0f;
}
.refer_contents h3::after {
	content: '';
	display: inline-block;
	width: 18px;
	height: 27px;
	margin-left: 4px;
	background: url('../img/spr_like.png') 0 -33px no-repeat;
	background-size: 18px;
	vertical-align: top;
}
.refer_contents a {
	position: relative;
	display: block;
	padding: 0 40px 0 15px;
	line-height: 48px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.refer_contents a::after {
	content: '\e93e';
	font-family: 'xeicon' !important;
	position: absolute;
	top: 0;
	right: 15px;
	font-size: 20px;
}
.refer_contents a:nth-of-type(odd) {
	background-color: #f5f5f5;
}


/* 댓글 */
.reply_container {
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}

.reply_container > strong {
	display: block;
	line-height: 2;
	font-size: 12px;
	font-weight: 500;
	color: #333;
	background-color: #d9d9d9;
	text-align: center;
}

.writing_area {
	padding: 15px;
	background-color: #fff;
}
.app_bottom .writing_area {
	border-top: 1px solid #d9d9d9;
}
.writing_box {
	position: relative;
	padding: 10px 100px 10px 10px;
	border: 1px solid #d9d9d9;
}
.writing_box textarea,
.writing_box button {
	height: 30px;
	transition: all 0.2s ease-in-out;
}
.writing_box textarea {
	width: 100%;
	resize: none;
	border: none;
	font-size: 13px;
}
.writing_box textarea::placeholder {
	line-height: 30px;
}
.writing_box textarea:focus::placeholder {
	line-height: inherit;
}
/* .writing_box textarea:focus {
	box-shadow: 0 0 0 1px #000;
	outline: none;
} */
.writing_box button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 80px;
	font-size: 14px;
	color: #fff;
	background-color: #999;
}
.writing_box.focused textarea,
.writing_box.focused button {
	height: 80px;
}
.list_reply li {
	position: relative;
	padding: 20px 15px 20px 60px;
	border-bottom: 1px solid #d9d9d9;
}
.list_reply li:last-child {
	border-bottom: none;
}
.list_reply .profile_img {
	position: absolute;
	top: 20px;
	left: 15px;
}
.list_reply .profile_img.best::after {
	content: 'BEST';
	display: block;
	margin-top: 2px;
	font-size: 11px;
	font-weight: 700;
	color: #f62d0f;
	text-align: center;
}
.list_reply .profile_img > div {
	width: 36px;
	height: 36px;
	margin: 0 auto;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.list_reply li .info span  {
	font-size: 14px;
	font-weight: 700;
}
.list_reply li .info .btn_like {
	margin-left: 4px;
	padding-left: 18px;
	font-size: 15px;
	background: url('../img/spr_like.png') 0 -3px no-repeat;
	background-size: 14px;
	vertical-align: 0;
}
.list_reply li .info .btn_like.active {
	background-position: 0 -27px;
	color: #f62d0f;
}
.list_reply li p {
	margin-top: 5px;
	font-size: 13px;
}
.link_more_reply {
	display: block;
	width: 100%;
	line-height: 48px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	background-color: #f5f5f5;
	border-top: 1px solid #d9d9d9;
}
.list_reply + .btn_more_reply {
	display: block;
	width: 48px;
	height: 48px;
	margin: 0 auto 10px;
	background: url('../img/icon_more.png') center center no-repeat;
	background-size: 40px ;
}

.section_container {
	/* main02_T01D 때문에 임시적으로 사용 */
	padding: 20px 15px;
	background-color: #fff;
}



/* 뉴스 - main03 */
.news_list {
	padding-top: 15px;
	padding-bottom: 10px;
	background-color: #fff;
}
.news_list article {
	padding: 10px;
	border: 1px solid #d9d9d9;
	background-color: #fff;
}
.news_list > article:nth-of-type(n+2) {
	margin-top: 5px;
}
.news_list article h4 {
	font-size: 16px;
	font-weight: 500;
}
.news_list article > ul {
	margin-top: 5px;
}
.news_list article > ul li {
	font-size: 14px;
	color: #969696;
}
.news_list article section {
	margin-top: 10px;
	font-size: 14px;
	font-weight: 500;
}
.news_list article section h5::before {
	content: '※';
	margin-right: 0.1em;
}
.news_list article section ul {
	margin-top: 0.2em;
	counter-reset: vipRecommend;
}
.news_list article section ul li::before {
	margin-right: 0.02em;
	line-height: 1.5;
	counter-increment: vipRecommend;
	content: counter(vipRecommend) '.';
}
.news_list article section ul li.emphasis {
	color: #f62d0f;
}
.news_list article .btn_container {
	margin-top: 15px;
}
.news_list article .btn_container a {
	float: left;
	display: block;
	width: 48%;
	line-height: 40px;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	background-color: #333;
	border-radius: 5px;
}
.news_list article .btn_container a:first-child {
	margin-right: 2%;
	background-color: #f62d0f;
}


/* main03D */
.suggestion_paragraph {
	padding: 15px 17px;
	margin-bottom: 10px;
	line-height: 1.3;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: -0.03em;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}
.suggestion_paragraph em {
	color: #f62d0f;
}

.stock_summary {
	position: relative;
	padding-top: 18px;
	padding-bottom: 18px;
	margin-bottom: 10px;
	background-color: #fff;
	border-bottom: 1px solid #d9d9d9;
}
.stock_summary h2 {
	width: 70%;
	line-height: 1.3;
	font-size: 18px;
}
.stock_summary h2 > span {
	float: left;
	display: block;
	padding-top: 24px;
	margin-right: 10px;
	font-size: 11px;
	background: url('../img/icon_graph.png') center top no-repeat;
	background-size: 23px;
	color: #999;
}
.stock_summary h2 > small {
	display: block;
	font-size: 12px;
}

.fluctuation {
	display: inline-block;
	position: absolute;
	top: 15px;
	right: 25px;
}
.fluctuation small {
	display: block;
	font-size: 10px;
	text-align: center;
	color: #969696;
}
.fluctuation span {
	position: relative;
	display: inline-block;
	line-height: 1;
	font-size: 30px;
	font-weight: 500;
	padding-left: 20px;
}
.fluctuation span::before,
.fluctuation span::after {
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
}
.fluctuation span::before {
	top: 5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 8px solid #d9d9d9;
}
.fluctuation span::after {
	top: 17px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #d9d9d9;
}

.fluctuation span.up {
	color: #f62d0f;
}
.fluctuation span.up::before {
	border-bottom-color: #f62d0f;
}
.fluctuation span.down {
	color: dodgerblue;
}
.fluctuation span.down::after {
	border-top-color: dodgerblue;
}

.market_watching {
	margin-top: 10px;
}
.market_watching > span {
	font-size: 12px;
}
.market_watching > em {
	font-size: 14px;
	color: #f62d0f;
}
.market_watching .progress_box {
	display: inline-block;
	height: 12px;
	width: 65%;
	background-color: #d9d9d9;
}
.market_watching .progress_box span {
	display: block;
	height: 100%;
	background-color: #f62d0f;
}


































